.red{
    background-color: red;
    text-align: center;
    font-weight: 800;
}
.green{
    background-color: green;
    text-align: center;
}
.blue{
    background-color: blue;

}
.red1{
    background-color: red;
   
}
.yellow{
    background-color: yellow;
}
